.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: .5em;
}

.ordersContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5em;
}

.orderContainer {
  background-color: #0C363C;
  color: #fff;
  padding: .5em;
  border-radius: .5em;
}

.pickupStatus {
  border-radius: .5em;
  width: fit-content;
  padding: .2em;
  font-size: large;
}

.pending {
  background-color: #d6c918;
}

.completed {
  background-color: #00a651;
}

.canceled {
  background-color: #ce651a;
}

@media screen and (max-width: 768px) {
  .ordersContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}